body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: "Oxygen", sans-serif;
}

.header-nav {
  background-color: #fff;
}

#brand {
  font-weight: bold;
  font-size: 1.8em;
  color: #61122f;
}

.navbar-light .navbar-nav .nav-link {
    color: #61122f;
}

li a:hover {
  background-color: #87274a;
  color: #fff !important;
}

#main {
  background-color: #87274a;
  box-shadow: 0 0 30px #953357;
  padding: 30px;
  margin-bottom: 40px;
}

h2 {
    font-weight: bold;
}
